<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="text-center">
                <h1>This is the homepage!</h1>
                <p>Some random subtext would probably go here.</p>
            </div>
        </div>
    </div>
</div>