<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="text-center my-5">
                <h1 class="display-5">You saved some time. Way to go!</h1>
                <p class="lead">Node, Express, Handlebars Starter Template</p>
                <div class="text-center">
                    <a style="text-decoration: none; color: unset;" href="https://github.com/ritaorion/node-express-handlebars-starter-template" target="_blank">
                        <i class="fab fa-github" style="font-size:1.5rem;"></i> @ritaorion
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
